<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template HTML TEST</title>
</head>
<body>
    <h1>test webpack-dev-server</h1>
    <div class="content">
        <div class="title">
            title
        </div>
        <div class="title-lerge">
            title lerge
        </div>


        <!-- ⬇︎reactApp.jsx -->
        <div id="react-root"></div>
    </div>

    <img src="<%= require('../images/icon.png') %>" alt="">
    <img src="<%= require('../images/thumbnail.jpg') %>" alt="">
</body>
</html>


<footer>
    <h1>footer</h1>
</footer>
