<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template HTML TEST</title>
</head>


<header>
    <div class="menu">
        <div class="menu__item">
            <a href="index.html">index</a>
        </div>
    </div>
</header>


<body class="container">
    <h1>test webpack-dev-server</h1>
    <div class="content">
        <div class="title">
            title!!!
        </div>
        <div class="title-lerge">
            title lerge
        </div>
        <!-- ⬇︎reactApp.jsx -->
        <div id="react-root"></div>
    </div>

    <div class="main-image">
        <img class="icon" src="<%= require('../images/icon.png') %>" alt="" >
    </div>
</body>
</html>


<footer>
    <h1>footer</h1>
</footer>
